<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App | About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/images/Aditya-Hajare.jpeg" alt="Aditya Hajare Profile Pic">
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>